@import url('https://fonts.cdnfonts.com/css/bellefair');
@import url('https://fonts.cdnfonts.com/css/barlow-condensed');

:root {
  
  --first-color: #0B0D17;
  --second-color: #D0D6F9;
  --third-color: #FFFFFF;
 
}

body {
  font-family: 'Barlow Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bellefair', sans-serif;
}




